@keyframes shineAndGrow {
  0%, 10%, 100% {
    transform: scale(1);
    filter: brightness(1);
  }
  5% {
    transform: scale(1.2);
    filter: brightness(1.5);
  }
}

@keyframes moveLogoToTop {
  0% {
    width: 100%;
    height: 100vh;
  }
  100% {
    width: 10%;
    height: 10vh;
  }
}

@keyframes moveGradientBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes slideHorizontal {
  from {background-position: top;background-size:4500px; }
  to {background-position: -100px 0px;background-size:4000px;}

}

@keyframes slideVertical {
  from {
    background-position: bottom;
    background-size: 3000px;
  }
  to {
    background-position: -100px 100%;
    background-size: 2750px;
  }
}