*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 10px as 1rem.
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75
  }
}
body{
  box-sizing: border-box;
  font-family: "Default Police", cursive;
  *{
    font-size: 1.8rem;
    color: $primary--darkest;
    cursor: default;
  }
  #root{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(
                    -45deg,
                    rgba($primary--lightest,1) 0%,
                    rgba($secondary,1) 25%,
                    rgba($primary--lighter,.7) 51%,
                    rgba($secondary--lightest,1) 100%
    );
    background-size: 500% 300%;
    animation: moveGradientBackground 3s ease-in-out forwards;
    padding-top: 10rem;
  }
}