@font-face {
  font-family: 'Logo Police';
  src: url('./../../fonts/permanent-marker/PermanentMarker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Default Police';
  src: url('./../../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Default Police';
  src: url('./../../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
