#app-bar{
  background-color: rgba(white,.8);
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  height: 6rem;
  &.show{opacity: 1}
  .bar{max-width: $containerMaxWidth;margin: auto;display: flex;width: 100%}
  .logo span{font-size: 4rem;}
  .bar__link{
    position: relative;
    margin-left: auto !important;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    &:hover{&:after{transform: scaleX(1)}}
    &:after{
      transition: transform .2s;
      display: block;
      position: absolute;
      content: "";
      bottom: 3px;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      background-color: #5B21B6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}