#home{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  >div:first-of-type{margin-top: 2rem}
  .section{
    width: 100%;
    padding: 4rem;
    &__title{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      &--80vh{height: 80vh;}
      h1{
        font-weight: bold;
        color: white;
        font-size: 5rem;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 10px 20px rgba(0,0,0,.25),
        0 20px 20px rgba(0,0,0,.2),
        0 40px 40px rgba(0,0,0,.15);
      }
    }
    &__text{
      background-image: url('./../../images/nuage-blanc-ciel-bleu.jpg');
      background-size:cover;
      animation: slideHorizontal 50s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      width: 100%;
      &--container{
        max-width: $containerMaxWidth;
        margin: auto;
        h1{
          color: #360000;
          width: max-content;
          font-size: 2.6rem;
          border-radius: 8px;
          margin-bottom: 3rem;
          font-style: italic;
          text-shadow: 1px 1px 1px rgba(0,0,0,.5);
        }
        p{margin-left: 8rem;margin-bottom: 2rem; .mt-1{display: block;margin-top: 1rem}}
        &-subtitle{display: block;font-weight: bold;margin: 3rem 0 1rem -2rem;}
      }
      &--links{
        display: flex;
        justify-content: end;
        gap: 2rem;
        button{
          box-shadow:4px 4px 5px 0 rgba(0,0,0,0.5);
          font-size: 1rem;
          .logo{
            margin: -.4rem 1rem 0 1rem;
            span{font-size: 1.3rem;}
          }
        }
      }
    }
  }
  .rates-card{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    &__element{
      border: 1px solid #ededed;
      border-radius: 11px;
      flex: 1;
      >div{
        width: 100%;
        text-align: center;
        padding: 1rem;
        &:not(:last-child){
          border-bottom: 1px solid #ededed;
        }
      }
      &--title, &--rate{
        font-weight: bold;
      }
      &--rate{
        color: $primary;
        span{font-size: 3rem;color: $primary;;}
      }
    }
  }
  .home-btn{
    position: fixed;
    bottom: 5rem;
    right: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    button{
      border: 3px solid rgba(21, 21, 21, 0.5);
      box-shadow:4px 4px 5px 0 rgba(0,0,0,0.5);
      padding: 15px 5px;
      border-radius: 20%;
      &:hover{border: 3px solid #151515;}
      svg, svg *{cursor: pointer}
    }

  }
}