#home{
  .section{
    width: 100%;
    //border-radius: 10px;
    margin-bottom: 8rem;
    padding: 4rem;
    p{
      margin-left: 8rem;
      .p__title{display: block; font-weight: bold}
      &:not(:last-child){margin-bottom: 2rem}
      &.p--scroll{opacity: 0;transform: translateX(150%);transition: opacity 0.5s, transform 1s .2s;}
      &.visible {opacity: 1;transform: translateX(0);}
    }
    &--scroll{
      opacity: 0;
      transition: all 0.5s .2s;
      &-1{transform: translateY(100%);&.visible{transform: translateY(0);}}
      &-2{
        >div>*{
          transition: all 0.5s .2s cubic-bezier(0.1, -0.1, 0.1, 1.1);
          &:first-child{transform: translateX(-150%);}
          &:nth-child(2){transform: translateX(150%);}
        }
        &.visible{>div>*{transform: translateX(0);}}}
      &.visible {opacity: 1;}
    }

    &__container{max-width: $containerMaxWidth;margin: auto;}
    &--title{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0;
      padding: 0;
      &--80vh{height: 80vh;}
      >*{display: flex;align-items: center;justify-content: center}
      &-left{justify-content: left}
      &-right{justify-content: right}
      h1{
        font-weight: bold;
        color: white;
        font-size: 6rem;
        text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 10px 20px rgba(0,0,0,.25),
        0 20px 20px rgba(0,0,0,.2),
        0 40px 40px rgba(0,0,0,.15);
      }
    }
    &--text{
      background-color: rgba(white, .7);
      width: 100%;
      h1{
        color: #360000;
        width: max-content;
        font-size: 2.6rem;
        border-radius: 8px;
        margin-bottom: 3rem;
        font-style: italic;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      }
    }
  }

}